body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    text-align: left;
    border: 1px solid #ddd ;
    margin: 0 auto;
}
#cabecera{
  
    background-color: blue;
    text-decoration-color: white;
   
}
#logo{
    width: 50px;
    vertical-align: middle;
}
